p {font-size: 20.00px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-underline-position: initial;
    margin-left: 2.5%;
    border-bottom:5px solid red ;
    margin-bottom: 10%;
    padding-bottom: 20px;
    width: 96.5%;
    background-color: silver ;

    }